<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "vote/base.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div id="header">
            {% block header %}
            {% endblock header %}
        </div>
        <div id="body">
            {% block body %}
            {% endblock body %}
        </div>
    </body>
</html>
