<!DOCTYPE html>
{% extends "vote/base.html" %}

{% block title %}Questions{% endblock title %}

{% block body %}

<h1>Putz Superlatives</h1>
<form action="/vote/submit/" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {% for question in question_list %}
    <p>{{ question.quest_text }}</p>
    <input type="text" name="{{ question.quest_text }}" size="40"> <br>
    <br>
    {% endfor %}
    <p><input type="submit" class="waves-effect waves-light btn" value="Vote"></p>
</form>

</table>
{% endblock body %}
